@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~datatables/media/css/jquery.dataTables.css';
@import '~components-font-awesome/scss/font-awesome.scss';

#container {
  height: 100vh;
  width: 100%;

  > #content {
    height: 100%;
    display: flex;

    > #left-pane {
      height: 100%;
      width: 300px;
    }

    > #center-pane {
      height: 100%;
      flex: 1
    }
  }
}

#boxes-list {
  height: 100%;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-left: 1px solid #ddd;
  border-color: #cccccc;
}

#orders-list_wrapper {
  > .top {
    width: 100%;

    > #orders-list_filter {

      > label {
        display: block;
      }
      clear: both;
      width: 100%;
    }

    input[type="search"] {
      width: 100%;
      border: none;
      border-bottom: 1px solid #ddd;
      margin-left: 0;
      outline: none;
      padding: 10px;
    }
  }
}